{% extends "base.html" %}
{% block title %}Добавление товара{% endblock %}
{% block content %}
<h1 class="mb-4">Добавление товара</h1>
<form method="post" class="col-lg-6">
  <input class="form-control mb-3" name="name" placeholder="Название" required>
  <input class="form-control mb-3" name="category" placeholder="Категория" required>
  <input class="form-control mb-3" type="number" step="0.01" name="price" placeholder="Цена" required>
  <input class="form-control mb-3" type="number" name="stock" placeholder="Остаток" required>
  <button class="btn btn-primary">Сохранить</button>
  <a class="btn btn-secondary" href="{{ url_for('products.index') }}">Отмена</a>
</form>
{% endblock %}
